.account {
  background-color: $grey-crayola;

  @include borders-bottom-radius(25px);
}

.account__buttonBusiness {
  color: $blue-midnight;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  border: 0;
  background: transparent;
}
