.button {
  background-color: $yellow-basic;
  text-decoration: none;
  color: $blue-basic-light;
  padding: 22px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  margin: 0;
  border: none;
  font-family: inherit;
}
