.calendar {
  font-size: 14px;
  line-height: 18px;
  margin-top: 25px;
  text-align: center;
}

.calendar__month {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $blue-basic-light;
  padding: 0 15px;
  position: relative;
}

.calendar__month::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $grey-dusty;
  position: absolute;
  top: 0;
  left: 0;
}

.calendar__month::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $grey-dusty;
  position: absolute;
  top: 41px;
  left: 0;
}

.calendar__control {
  width: 25px;
  height: 42px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.calendar__week {
  color: $grey-special;

  @include reset-list;
}

.calendar__weekday--weekend {
  color: $orange-red;
}

.calendar__dates {
  color: $blue-basic-light;

  @include reset-list;
}
