.catalog-hitchhikers {

}

.catalog-hitchhikers__cards {
  @include reset-list;
}

.catalog-hitchhikers__readMore {
  text-decoration: none;
  text-transform: uppercase;
  color: $blue-basic-light;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}
