.contact-map {
  position: relative;
  z-index: 6;
}

.contact-map__wrap {
  background-color: $yellow-basic;
  padding: 60px 25px 35px;
  position: relative;
  z-index: 6;
  margin-bottom: -30px;

  @include borders-bottom-radius(25px);
}

.contact-map__link {
  border: 3px solid $blue-ultramarine;
}

.contact-map__address {
  color: $blue-basic-light;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
}
