.leadIn {
  width: 100%;
  background-color: $blue-basic;
  background-image: url("../../img/background_traveller_mobile.png"), url("../../img/background_globe_mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 154px, 50% -54px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: $blue-purple;
    background-image: url("../../img/background_traveller_tablet.png"), url("../../img/background_globe_tablet.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 320px, 50% 290px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 60px 120px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-image: url("../../img/background_traveller_desktop.png"), url("../../img/background_globe_desktop.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 110px, 50% 0;
  }
}

.leadIn__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  top: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.leadIn__login {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: $blue-basic;
  background-color: $yellow-basic;
  border-radius: 20px;
  padding: 10px 20px;
}


.leadIn__tel,
.leadIn__mail {
  color: $yellow-basic;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
}

.leadIn__tel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../../img/icon_phone_leadIn.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: $orange-special;
}

.leadIn__mail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../../img/icon_mail_leadIn.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: $yellow-special-dark;
}
