.login {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: $blue-basic;
  background-color: $yellow-basic;
  border-radius: 20px;
  //padding: 12px;
  //min-height: 40px;
  margin: auto;
}
