.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: $blue-basic;
}

.page-header--index {
  @media (min-width: $tablet-width) {
    background-color: $blue-purple;
  }

  @media (min-width: $desktop-width) {
    background: transparent;
    padding: 46px 60px 0;
    margin-bottom: -96px;
  }
}

.page-header--form,
.page-header--catalog {
  background-color: $blue-purple;
  color: $red-basic;
}

.page-header--nav-active {
  background-color: $white-basic;
}

.page-header__toggle {
  background-color: transparent;
  border: none;
  position: relative;
  height: 20px;
  width: 25px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: $white-basic;
    border-radius: 1.5px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: $white-basic;
    border-radius: 1.5px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__toggle--nav-active {
  width: 19px;
  height: 19px;

  &::before {
    transform: rotate(45deg);
    width: 25px;
    height: 2px;
    top: 8px;
    left: -3px;
    border-radius: 1px;
    background-color: $grey-eighty;
  }

  &::after {
    transform: rotate(-45deg);
    width: 25px;
    height: 2px;
    top: 8px;
    left: -3px;
    border-radius: 1px;
    background-color: $grey-eighty;
  }
}

.page-header__contacts {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page-header__login {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: $blue-basic;
  background-color: $yellow-basic;
  border-radius: 20px;
  padding: 10px 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}


.page-header__tel,
.page-header__mail {
  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    color: $yellow-basic;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
  }
}

.page-header__tel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../../img/icon_phone_leadIn.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: $orange-special;
}

.page-header__mail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../../img/icon_mail_leadIn.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: $yellow-special-dark;
}
