.page-main__chief-caption {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: $white-basic;
  margin: 0;
  background-color: $blue-purple;
  padding-bottom: 12px;

  &--index {
    background-color: transparent;
    text-align: center;
  }

  &--form {
    padding: 0 25px 9px;
  }

  &--catalog {
    padding: 0 25px 9px;
    position: relative;
    z-index: 10;
    margin-bottom: -30px;
  }

  @include borders-bottom-radius(25px);
}

.page-main__wrapper--aboutThe {
  background-color: $grey-basic-light;
}

.page-main__wrapper--form {
  background-color: $yellow-basic;
  padding-bottom: 4px;
}

.page-main--catalog {
  background-color: $grey-basic-light;
}
