.page-main__chief-caption {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: $white-basic;
  margin: 0;
  background-color: $blue-purple;
  //padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
  }

  &--index {
    background-color: transparent;
    text-align: center;
    margin-bottom: 245px;

    @media (min-width: $tablet-width) {
      margin-top: 72px;
      margin-bottom: 86px;
    }

    @media (min-width: $desktop-width) {
      text-align: start;
      margin: 110px 69px 101px;
    }
  }

  &--form {
    padding: 0 25px 9px;
  }

  &--catalog {
    padding: 0 25px 9px;
    position: relative;
    z-index: 10;
    margin-bottom: -30px;
  }

  @include borders-bottom-radius(25px);
}

.page-main__wrapper--aboutThe {
  @include borders-bottom-radius(25px);
  background: url("../../img/background-aboutThe-mobile.png") no-repeat top 39px center, url("../../img/background_aboutThe_square.svg") no-repeat top 39px left, $blue-ultramarine;
  margin-bottom: -50px;
  position: relative;
  z-index: 11;

  @media (min-width: $tablet-width) {
    @include borders-bottom-radius(50px);
    background: url("../../img/background_aboutThe_tablet.png") no-repeat top 144px right 8px, url("../../img/background_aboutThe_rectangle.svg") no-repeat top 96px left 40px, $blue-ultramarine;
  }

  @media (min-width: $desktop-width) {
    @include borders-bottom-radius(50px);
    background: url("../../img/background_aboutThe_desktop.png") no-repeat top 0 right 8px, url("../../img/background_aboutThe_squareBig.svg") no-repeat top 0 left 60px, $blue-ultramarine;
  }
}

.page-main__wrapper--form {
  background-color: $yellow-basic;
  padding-bottom: 4px;
}

.page-main--catalog {
  background-color: $grey-basic-light;
}
