$white-basic: #ffffff;
$black-basic: #000000;

$blue-basic: #161c35;
$blue-basic-light: #1d2e5b;
$blue-purple: #182044;
$blue-ultramarine: #192144;
$blue-gentian: #101d41;
$blue-midnight: #132576;
$blue-bruguer: #d4d9eb;
$blue-hawkes: #d6daed;
$blue-hawkes-darken: #d1d7e9;
$blue-cadet: #cbced9;
$blue-cadet-darken: #c8cee8;
$blue-special-light: #dfe3f0;

$grey-basic-light: #edeff6;
$grey-crayola: #e6e8f1;
$grey-barvinok: #e2e5f1;
$grey-solitude: #e2e5f2;
$grey-whisper: #e5e5e5;
$grey-lavender: #f3f4f8;
$grey-dusty: #d6d9e6;
$grey-manatee: #959bb2;
$grey-special: #444444;

$yellow-basic: #ffd74b;
$yellow-special-dark: #ffbd30;
$yellow-brill: #ffa530;
$yellow-special-orange: #ff8d30;
$yellow-shafron: #f3c72b;

$orange-carrot: #f26926;
$orange-red: #ff5c23;

$red-linen: #f9eaea;
$red-pale-pink: #ffefef;
$red-pastel-pink: #f9d8d8;
$red-special: #f47e7e;
$red-pink: #f97676;
$red-carmine: #f02323;
$red-basic: #ff0000;

$green-yellow: #81e31e;
