$white-basic: #FFFFFF;
$black-basic: #000000;

$blue-basic: #161C35;
$blue-basic-light: #1D2E5B;
$blue-purple: #182044;
$blue-ultramarine: #192144;
$blue-gentian: #101D41;
$blue-midnight: #132576;
$blue-bruguer: #D4D9EB;
$blue-hawkes: #D6DAED;
$blue-hawkes-darken: #D1D7E9;
$blue-cadet: #CBCED9;
$blue-cadet-darken: #C8CEE8;
$blue-special-light: #DFE3F0;

$grey-basic-light: #EDEFF6;
$grey-crayola: #E6E8F1;
$grey-barvinok: #E2E5F1;
$grey-solitude: #E2E5F2;
$grey-whisper: #E5E5E5;
$grey-lavender: #F3F4F8;
$grey-dusty: #D6D9E6;
$grey-manatee: #959BB2;
$grey-special: #444444;

$yellow-basic: #FFD74B;
$yellow-special-dark: #FFBD30;
$yellow-brill: #FFA530;
$yellow-special-orange: #FF8D30;
$yellow-shafron: #F3C72B;

$orange-carrot: #F26926;
$orange-red: #FF5C23;

$red-linen: #F9EAEA;
$red-pale-pink: #FFEFEF;
$red-pastel-pink: #F9D8D8;
$red-special: #F47E7E;
$red-pink: #F97676;
$red-carmine: #F02323;
$red-basic: #FF0000;

$green-yellow: #81E31E;
